<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Zaczynamy przygotowywać zamówienie!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- FontAwesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>

<body>
<div th:replace="/fragments/header :: header"/>
<div class="jumbotron d-flex align-items-center">
    <div class="container">
        <h2>Zaczynamy przygotowywać zamówienie dla: </h2><br>
        <div class="table-responsive">
            <table class="table table-borderless table-sm ">
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Telefon</th>
                    <th>Mail</th>
                    <th>Ulica</th>
                    <th>Numer mieszkania</th>
                    <th>Kod pocztowy</th>
                </tr>
                <tr>
                    <td th:text="${customer.name}">Imię</td>
                    <td th:text="${customer.lastName}">Nazwisko</td>
                    <td th:text="${customer.number}">Telefon</td>
                    <td th:text="${customer.mail}">Mail</td>
                    <td th:text="${customer.street}">Ulica</td>
                    <td th:text="${customer.apartment}">Numer mieszkania</td>
                    <td th:text="${customer.zipCode}">Kod pocztowy</td>
                </tr>
            </table>
        </div>
        </br>
        </br>
            <h4>Lista dań: </h4>
        <div class="table-responsive">
            <table class="table table-borderless table-sm ">
        <td class="col-md-3"><h6>Nazwa</h6></td>
        <td class="col-md-3"><h6>Opis</h6></td>
        <td class="col-md-3" th:align="center"><h6>Ilość</h6></td>
        <td class="col-md-3" th:align="center"><h6>Cena</h6>
        </td>
            </table>
            </div>
        <div class="panel-default well" th:each="item : ${session.cart}">
            <div class="table-responsive">
                <table class="table table-borderless table-sm ">
                        <td class="col-md-3"><h6 th:text="${item.product.name}"></h6></td>
                        <td class="col-md-3"><h6 th:text="${item.product.description}"></h6></td>
                        <td class="col-md-3" th:align="center"><h6 th:text="${item.quantity}"></h6></td>
                        <td class="col-md-3" th:align="center"><h6
                                th:text="${#numbers.formatCurrency(item.product.price * item.quantity)}">Cena</h6>
                        </td>
                    </table>
                </div>
            </div>
            <h4 th:align="right">Do zapłaty: </h4>
            <h4 th:align="right" th:text="${#numbers.formatCurrency(order.getTotalAmount())}"></h4>
        <form th:action="@{/orderOnline/return}" method="post">
        <button type="submit" class="btn btn-outline-info float-right">Powrót</button>
        </form>
        </div>
    </div>
</div>
<div th:replace="/fragments/footer :: footer"/>
</body>
</html>